[Unit]
Description=Kapow Management Console Service

[Service]
Type=fork
User=kapowadmin
ExecStart=/opt/KapowKatalyst_9.4.6_x64/bin/RoboServer -p 50000 -MC;  

[Install]
WantedBy=multi-user.target

